# OSX
.DS_Store

# Node
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*

# Expo
.expo/
.expo-shared/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro
.metro-health-check*

# Native
android/
ios/

# Local env
.env*
!.env.example

# TypeScript
*.tsbuildinfo
expo-env.d.ts
